.gallery {
    padding-top: 100px;
    .gallery__container {
        .gallery__box {
            column-gap: 20px;
            column-count: 3;
        }
        .gallery__item {
            padding: 0 10px 10px 10px;
            img {
                display: block;
                object-fit: cover;
            }
        }
    }
}